*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: antiquewhite;
}

.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    height: 500px;
    width: 65%;
}
.pic{
    background: url('images/other8.jpg') center center /cover;
    height: 500px;
    width: 100%;
    filter: grayscale(80%);
    transform: scale(1);
    transition: 1s;
}
.box1{
    width: 90%;
    height: 450px;
    position: absolute;
    bottom: 450px;
    left: 50%;
    transform: translate(-50%, 0%);
    border-bottom: 5px solid black ;
    transition: 1s;
}
.box2{
    width: 90%;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(0%, -50%);
    border-left: 5px solid black ;
    transition: 1s;
}
.box3{
    width: 90%;
    height: 450px;
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translate(-50%, 0%);
    border-top: 5px solid black ;
    transition: 1s;
}
.box4{
    width: 90%;
    height: 450px;
    position: absolute;
    top: 50%;
    right: 90%;
    transform: translate(0%, -50%);
    border-right: 5px solid black ;
    transition: 1s;
}
.box5{
    width: 80%;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    transition: 1s;
}

.text{
    text-shadow: 0px 0px 10px red;
    font-size: 40px;
    font-family: sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    width: 450px;
    text-align: center;
    letter-spacing: 4px;
}
.main:hover >.pic{
    transform: scale(1.2);
    filter: none;
}
.main:hover >.box1{
    width: 0px;
    height: 0px;
}
.main:hover >.box2{
    width: 0px;
    height: 0px;
}
.main:hover >.box3{
    width: 0px;
    height: 0px;
}
.main:hover >.box4{
    width: 0px;
    height: 0px;
}

.main:hover >.box5{
    width: 0px;
    height: 0px;
}
.main:hover .text{
    letter-spacing: 18px;
}
