div, footer{
    color: white;
    text-align: center;
}
/* ######################################## */
.header1{
    height: 150px;
    width: 30%;
    background-color: skyblue;
    float: left;
}
.header2{
    height: 150px;
    width: 70%;
    background-color: red;
    float: left;
}
/* ######################################## */
.left-content{
    height: 200px;
    width: 30%;
    clear: left;
    float: left;
}
.left-content>.top{
    background-color: blue;
    height: 50%;
}
.left-content>.bottom{
    background-color: red;
    height: 50%;
}
/* ######################################## */
.center-content{
    height: 200px;
    width: 40%;
    float: left;
}
.center-content>.black{
    height: 20%;
    background-color: black;
}
.center-content>.green{
    height: 20%;
    background-color: green;
}
/* ######################################## */
.right-content{
    height: 200px;
    width: 30%;
    float: left;
    background-color: rgb(0, 255, 213);
}
/* ######################################## */
.purple1{
    height: 100px;
    width: 20%;
    clear: left;
    float: left;
    background-color: rgb(116, 72, 165);
}
.purple{
    height: 100px;
    width: 20%;
    float: left;
    background-color: rgb(116, 72, 165);
}
.brown{
    height: 100px;
    width: 20%;
    float: left;
    background-color: brown;
}
/* ######################################## */
.left{
    height: 200px;
    width: 50%;
    clear: left;
    float: left;
}
.left>.top{
    background-color: purple;
    height: 50%;
}
.left>.bottom{
    background-color: pink;
    height: 50%;
}
.right{
    height: 200px;
    width: 50%;
    float: left;
    background-color: aqua;
}
/* ######################################## */
.footer{
    height: 100px;
    background-color: red;
    clear: left;
}