*, ::after, ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}

:root{
    --primary-color: #ffea00;
}
html {
    scroll-behavior: smooth;
}

html,
    body {
        overflow-x: hidden;
    }
/* -------------------------------------- */
/* header styles */

header label{
    display: none;
}

header{
    padding: 6px 40px;
    height: 8vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    width: 100%;
}
header>a{
    color: var(--primary-color);
    font-size: 32px;
    font-family: 'Edu SA Beginner', cursive;
}

header ul{
    display: flex;

}
header li{
    padding: 5px 0;
}
header li a{
    padding: 5px 14px;
    border-right: 1px solid white;
    font-size: 10px;
    font-weight: bolder;
    font-family: sans-serif;
}
header li:last-child a{
    border: none;
}

header ul a:hover{
    color: var(--primary-color);
}

/* -------------------------------------- */
/* main styles */

main{
    height: 92vh;
    background: url(../imgs/5.jpg) center center /cover;
}
main>#explain{
    width: 55%;
    height: 500px;
    background-color: var(--primary-color);
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 4px #0000005e;
}
main #explain h1{
    margin: 16px;
    font-size: 56px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 0.9em;
    /* text-align: justify; */
}
/* main #explain .responsive{
display: none;
} */
main #explain .line{
    height: 2px;
    width: 100%;
    background-color: black;
    
}

main #explain >div{
    display: flex;
    justify-content: center;
    align-items: center;
}
main #explain >div img{
    border-radius: 50%;
    margin-right: 10px;
}

/* -------------------------------------- */
/* about styles */
/* top */
#about{
    width: 100%;
    /* height: 100vh; */
    background-color: rgb(243,243,232);
    padding: 70px 80px;
}
#about > .top{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

#about > .top > .left > h2{
    font-family: sans-serif;
    font-size: 42px;
    font-weight: bolder;
    width: 400px;
}
#about > .top > .left > .line{
    height: 6px;
    width: 300px;
    border-radius: 10px;
    background-color: black;
    margin: 40px 0;
}

#about > .top > .right{
    width: 350px;
    font-size: 15px;
    font-family: sans-serif;
    padding-top: 6px;
}

/* bottom */
#about > .bottom{
    /* padding: 0 80px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
}

#about > .bottom > .box{
    font-family: sans-serif;
    text-align: justify;
}

#about > .bottom  h3{
    font-size: 18px;
}
#about > .bottom  p{
    padding: 10px 0;
}

/* CV */

.CV{
    display: flex;
}

.CV > .left{
    width: 50%;
    height: 450px;
    background-color: var(--primary-color);
    
    font-size: 82px;
    font-family: 'Edu SA Beginner', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 5px 5px 5px black;
}

.CV > .right{
    width: 50%;
    height: 450px;
    background-color: black;

    color: white;
    font-size: 82px;
    font-family: 'Edu SA Beginner', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------------------------------- */
/* footer styles */
footer{
    /* height: 100vh; */
    background-color: rgb(243,243,232);
    padding: 40px 80px;
}
footer h2{
    font-family: 'Lumanosimo', cursive;
    font-size: 36px;

}
footer .wrapper{
    display: flex;
    justify-content: space-between;
}

footer .box{
    width: 350px;
    height: 110px;
    color: white;
    background-color: rgb(0,85,255);
    font-size: 20px;
    font-family: 'Lumanosimo', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 4px; */
    border: 1px solid rgb(0,85,255);
    transition: 0.4s;
}
footer .box a{
    padding: 40px 62px;
}
footer .box:hover{
    background-color: rgb(243,243,232);
    color: rgb(0,85,255);
}
footer .social{
    display: flex;
    width: 350px;
    justify-content: space-between;
}
footer .social >div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    transition: 0.4s;
}
footer .social >div:hover{
    background-color: rgb(243,243,232);
    color: black;
}

/* -------------------------------------- */
/* responsive */



@media (max-width:850px){
    html,
    body {
        overflow-x: hidden;
    }

    header label {
        z-index: 2;
        display: block;
    }

    header ul {
        display: block !important;
        background: rgba(0, 0, 0, 1);
        top: 8vh;
        left: 100%;
        position: absolute;
        transition: 0.4s;
        width: 25%;
        text-align: center;
        padding: 10px 0;
    }
    header ul a{
        border: none;
    }
    header input:checked~ul {
        display: block !important;
        transform: translate(-100%, 0);
    }

    #about >.top{
        flex-wrap: wrap;
    }

    #about >.bottom{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10px;
        
        margin: 50px 0;
    }
    #about > .top > .left > .line{
        width: 200px;
    }
    #about > .top > .left > h2{
        width: 220px;
    }

    footer .wrapper{
        flex-wrap: wrap;
        gap: 16px;
    }
    footer .wrapper h2{
        font-size: 30px;
    }
    footer .wrapper .box{
        height: 80;
        width: 450;
    }
    footer .wrapper .box a{
        font-size: 16px;
    }
    footer .box a{
        padding:0;
    }
    footer .social{
        margin-top: 16px;
        flex-wrap: wrap;
        gap: 25px;
        width: 200px;
    }

}
@media (max-width:1060px){

    main{
        background: none;
    }
    main #explain{
        width: 100%;
        height: 100%;
        padding: 50px;
    }
    main  h1{
        font-size: 32 !important;
    }

    /* main #explain .normal{
        display: none;
    } */
    /* main #explain .responsive {
        margin: 16px;
        font-size: 32px;
        font-family: sans-serif;
        font-weight: bold;
        line-height: 1em;
        display: block;
    } */

    .CV{
        display: block;
    }
    .CV >div{
        
        width: 100% !important;
    }
}