*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* ***************************************************************** */
header{
    height: 40px;
    background-color: rgb(57, 57, 57);
    padding: 0px 200px;
}
header>nav>ul{
    float: right;
}

header>nav>ul>li{
    float: left;
    list-style: none;
    padding: 10px 8px;
}
header>nav>ul>li>a{
    color: white;
    font-size: 12px;
    text-decoration: none;
}
header>nav>ul>li:hover{
    background-color: rgba(0, 0, 0, 0.15);
}
header>nav>ul>li:hover > a{
    color: rgba(30,144,255,255);
}

.GameStation{
    margin: 10px 0px;
    color: white;
    float: left;
}
/* ***************************************************************** */
main{
    position: relative;
}
p{
    font-family: sans-serif;
    font-size: 12px;
    color: white;
}
span{
    color: rgba(30,144,255,255);
}
/* ***************************************************************** */
.box1{
    height: 500px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('./img/cod.jpg') center top /cover;
    position: absolute;
}
h2{
    font-family: sans-serif;
    color: white;
    margin: 0px 0px 10px 0px;
    font-size: 32px;
}
.box1>.content{
    padding: 0px 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.box1>.content>.bottun{
    background-color: rgb(57, 57, 57);
    margin: 14px auto 0px auto;
    padding: 8px;
    display: inline-block;
    border-radius: 2px;
}

.box1>.content>.bottun:hover{
    background-color: rgba(255, 255, 255, 0.15);
}
.box1>.content>.bottun:hover > a{
    color: rgba(30,144,255,255);
}


.box1>.content>.bottun>a{
    font-family: sans-serif;
    font-size: 12px;
    color: white;
    text-decoration: none;
}
/* ***************************************************************** */
.box2{
    height: 300px;
    width: 50%;
    background: url('img/ps4.jpg') center center /cover;
    position: absolute;
    top: 500px;
    left: 0%;
}
/* ***************************************************************** */
.box3{
    height: 300px;
    width: 50%;
    background-color: rgb(57, 57, 57);
    position: absolute;
    top: 500px;
    left: 50%;
}
h3{
    font-family: sans-serif;
    color: white;
    margin: 0px 0px 18px 0px;
    font-size: 14px;
}
.box3>.content{
    padding: 50px 30px;
    text-align: center;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; */
}
.box3>.content>.bottun{
    background-color: white;
    margin: 18px auto 0px auto;
    padding: 8px;
    display: inline-block;
    border-radius: 2px;
}

.box3>.content>.bottun:hover{
    background-color: rgba(255, 255, 255, 0.15);
}
.box3>.content>.bottun:hover > a{
    color: rgba(30,144,255,255);
}


.box3>.content>.bottun>a{
    font-family: sans-serif;
    font-size: 12px;
    color: black;
    text-decoration: none;
}
/* ***************************************************************** */
.box4{
    height: 180px;
    width: calc(100% / 3);
    background-color: white;
    position: absolute;
    top: 800px;
    left: 0%;
}
.box4>.content{
    margin: 30px 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}
.box4>p{
    color: black;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
}
/* ***************************************************************** */
.box5{
    height: 180px;
    width: calc(100% / 3);
    background-color: rgba(30,144,255,255);
    position: absolute;
    top: 800px;
    left: calc(100% / 3);
}
.box5>.content{
    margin: 30px 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}
.box5>p{
    color: black;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
}
/* ***************************************************************** */
.box6{
    height: 180px;
    width: calc(100% / 3);
    background-color: white;
    position: absolute;
    top: 800px;
    left: calc(100% / 3 * 2);
}
.box6>.content{
    margin: 30px 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}
.box6>p{
    color: black;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
}
/* ***************************************************************** */
footer{
    height: 40px;
    width: 100%;
    background-color: rgb(57, 57, 57);
    padding: 0px 200px;
    position: absolute;
    top: 1020px;
    text-align: center;
}
footer>span{
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    margin: 0 auto;
    transform: translate(0%, 50%);
    display: inline-block;
}