* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;

    display: flex;
}

.p-20 {
    width: 350px;
    height: 100%;
    padding: 20px;
    overflow-y: scroll;
}

.p-80 {
    width: calc(100% - 350px);
    height: 100%;
    padding: 20px;
}

.card{
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 15px;
}

.card p:last-child{
    font-size: 14px;
    margin-top: 15px;
}

.card p {
    margin-bottom: 5px;
    font-size: 20px;
}

/* a.farokhru.1992@gmail.com */