*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(rgba(89, 18, 143, 0.7), rgba(15, 23, 161, 0.7));
    height: 100vh;
}
.clock{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock > .content{
    font-size: 64px;
    font-family: cursive;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 16px;
}
.button{
    padding: 10px 15px;
    width: 110px;
    border: 2px solid black;
    background-color: inherit;
    border-radius: 4px;
    font-family: cursive;
    font-size: 24px;
    cursor: pointer;
    background-color: rgba(60, 39, 198, 0.6);
    transition: 0.6s;
}
.button:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
.info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 6px;
    
}
.info > .record{
    font-size: 20px;
    border-radius: 4px;
    /* display: block; */
    font-family: cursive;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;

}