*{
    padding: 0px;    
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(217,217,217);
}
div{
    text-align: center;
}

.top-right-li{
    float: right;
    list-style-type: none;
    margin: 4px 8px;
    direction: rtl;
    font-size: small;
    color: white;
    
}

.header>.top{
    background-color: rgb(0,131,143);
    height: 30px;
}

.header>.top>.right{
    float: right;
    margin-right: 200px ;
    
}

.header>.top>.left{
    float: left;
    margin-left: 200px ;
}

.header>.buttom{
    background-color: white;
    height: 60px;
    margin-bottom: 15px;
}

.buttom-li{
    float: right;
    list-style-type: none;
    margin: 20px 8px;
    direction: rtl;
    font-size: small;
    color: black;
}
.header>.buttom>ul{
    margin-right: 200px;
}

main{
    padding: 0px 200px;
}

.div{
    border-radius: 6px;
}

.div1{
    height: 600px;
    width: 18%;
    background-color: white;
    margin: 10px 1%;
    float: left;
}
.div2{
    height: 300px;
    width: 28%;
    background-color: white;
    margin: 10px 1%;
    float: left;
}
.div3{
    height: 300px;
    width: 48%;
    background-color: white;
    margin: 10px 1%;
    float: left;
}
.div4{
    height: 280px;
    width: 48%;
    background-color: white;
    margin: 10px 1%;
    float: left;
}
.div5{
    height: 110px;
    width: 28%;
    background-color: white;
    margin: 10px 1%;
    float: left;
}
.div6{
    height: 150px;
    width: 28%;
    background-color: white;
    margin: 10px 1%;
    float: left;
}