*, ::after, ::before{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}

/* header : */
/* *********************************************************** */
.header{
    background-color: rgb(201,201,202);
    position: absolute;
    width: 100%;
    height: 40px;
}

header{
    background-color: rgba(201,201,202, 0.8);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    padding: 0px 200px;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    position: fixed;

}

header ul{
    list-style: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;

    
}
header li{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

header a{
    font-size: 10px;
    font-family: sans-serif;
    color: rgb(14, 14, 14);
    z-index: 1;
}

.logo a, .shop a, .search a{
    font-size: 18px;
}

.store::after, .mac::after, .ipad::after{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 400px;
    transition: 0.4s;
    transition-timing-function: cubic-bezier(0,.87,.66,.77);
}
.store:hover::after, .mac:hover::after, .ipad:hover::after{
    background-color: white;
    transform: translate(0, 100%);
}

/* main : */
/* *********************************************************** */
.box1{
    height: 580px;
    width: 100%;
    background: url('img/1.jpg') center center /cover;
    position: absolute;
    top: 0%;
    left: 0%;
    padding-top: 80px;
    z-index: -1;
}
.box1 h2{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 42px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.box1 h3{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 200;
    margin-top: 6px;
}

.box1 > div > div{
    margin: 0.65em auto;
    display: flex;
    width: 300px;
    justify-content: space-evenly;   
}
.box1 > div > div > a{
    color: rgb(41,151,255);
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.box1 > div > div > a:hover{
    text-decoration: underline;
}

/* ************************** */

.box2{
    height: 580px;
    width: 100%;
    background: url('img/2.jpg') center center /cover;
    position: absolute;
    top: 588px;
    left: 0%;
    padding-top: 60px;
    z-index: -1;
}
.box2 h2{
    color: black;
    display: flex;
    justify-content: center;
    font-size: 42px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.box2 h3{
    color: black;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 200;
    margin-top: 6px;
}

.box2 > div > div{
    margin: 0.65em auto;
    display: flex;
    width: 300px;
    justify-content: space-evenly;   
}
.box2 > div > div > a{
    color: rgb(41,151,255);
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.box2 > div > div > a:hover{
    text-decoration: underline;
}

/* ************************** */

.box3{
    height: 580px;
    width: 100%;
    background: url('img/3.jpg') center center /cover;
    position: absolute;
    top: 1176px;
    left: 0%;
    padding-top: 80px;
    z-index: -1;
}
.box3 h2{
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-52%, 0);
    color: white;
    font-size: 24px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.box3 h3{
    color: rgb(205, 205, 19);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-52%, 0);
    font-size: 112px;
    font-style: italic;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 200;
    margin-top: 6px;
}
.box3  .l {
    color: white;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 18px;
    position: absolute;
    top: 88%;
    left: 58%;
    transform: translate(-52%, 0);
}
.box3  .r {
    color: white;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 18px;
    position: absolute;
    top: 88%;
    left: 42%;
    transform: translate(-52%, 0);
}

.box3  p{
    color: white;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 22px;
    font-weight: 400;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-52%, 0);
}
.box3  a:hover{
    text-decoration: underline;
}

/* ************************** */

.box4{
    height: 500px;
    width: 49%;
    background: url('img/4.jpg') center center /cover;
    position: absolute;
    top: 1764px;
    left: 0.5%;
    padding-top: 60px;
    z-index: -1;
}
.box4 h2{
    color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 42px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.box4 h3{
    color: black;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 200;
    margin-top: 6px;
}

.box4 > div > div{
    margin: 0.65em auto;
    display: flex;
    width: 300px;
    justify-content: space-evenly;   
}
.box4  a{
    color: rgb(41,151,255);
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.box4  a:hover{
    text-decoration: underline;
}

/* ************************** */

.box5{
    height: 500px;
    width: 49%;
    background: url('img/5.jpg') center center /cover;
    position: absolute;
    top: 2272px;
    left: 50.5%;
    padding-top: 60px;
    z-index: -1;
}
.box5 .wrapper{
    width: 60%;
    /* height: 400px; */
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0)
}
.box5 h2{
    color: black;
    display: flex;
    justify-content: center;
    font-size: 42px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.box5 h3{
    color: black;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 200;
    margin-top: 6px;
}

.box5 > div > div{
    margin: 0.65em auto;
    /* display: flex; */
    width: 300px;
    /* justify-content: space-evenly;    */
}
.box5  p{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: rgb(92, 92, 92);
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.box5  a{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: rgb(41,151,255);
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.box5  a:hover{
    text-decoration: underline;
}

/* ************************** */

.box6{
    height: 500px;
    width: 49%;
    background: url('img/6.jpg') center center /cover;
    position: absolute;
    top: 2272px;
    left: 0.5%;
    padding-top: 60px;
    z-index: -1;
}
.box6 h2{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
    font-size: 36px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.box6 h3{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 200;
    margin-top: 6px;
}
.box6 p{
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 12px;
    color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
}
.box6 > div > div{
    margin: 0.65em auto;
    display: flex;
    width: 300px;
    justify-content: space-evenly;   
}
.box6  a{
    color: rgb(41,151,255);
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.box6  a:hover{
    text-decoration: underline;
}

/* ************************** */

.box7{
    height: 500px;
    width: 49%;
    background: url('img/7.jpg') center center /cover;
    position: absolute;
    top: 1764px;
    left: 50.5%;
    padding-top: 60px;
    z-index: -1;
}
.box7 h2{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
    font-size: 36px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.box7 h3{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 200;
    margin-top: 6px;
}

.box7 > div > div{
    margin: 0.65em auto;
    display: flex;
    width: 300px;
    justify-content: space-evenly;   
}
.box7  a{
    color: rgb(41,151,255);
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.box7  a:hover{
    text-decoration: underline;
}

/* ************************** */

.box8{
    height: 500px;
    width: 49%;
    background: url('img/8.jpg') center center /cover;
    position: absolute;
    top: 2780px;
    left: 0.5%;
    padding-top: 60px;
    z-index: -1;
}
.box8 h2{
    color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 36px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.box8 h3{
    color: black;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 200;
    margin-top: 6px;
}

.box8 > div > div{
    margin: 0.65em auto;
    display: flex;
    width: 300px;
    justify-content: space-evenly;   
}
.box8  a{
    color: rgb(41,151,255);
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.box8  a:hover{
    text-decoration: underline;
}

/* ************************** */

.box9{
    height: 500px;
    width: 49%;
    background: url('img/9.jpg') center center /cover;
    position: absolute;
    top: 2780px;
    left: 50.5%;
    padding-top: 60px;
    z-index: -1;
}
.box9 h2{
    color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 36px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.box9 h3{
    color: black;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 200;
    margin-top: 6px;
    text-align: center;
}

.box9 > div > div{
    margin: 0.65em auto;
    display: flex;
    width: 300px;
    justify-content: space-evenly;   
}
.box9  a{
    color: rgb(41,151,255);
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.box9  a:hover{
    text-decoration: underline;
}

/* ************************** */
/* footer : */

footer{
    position: absolute;
    top: 3288px;
    left: 0 ;
    padding: 20px 200px;
    background-color: rgb(245,245,247);
    
}

footer p{
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 10px;
    margin: 12px 0;
    color: rgb(136, 136, 136);
}
footer a{
    text-decoration: underline;
    color: rgb(91, 91, 91);
}

footer .links{
    position: relative;
    width: 100%;
    /* height: 500px; */
    margin-top: 6px;
    /* background-color: orangered; */
    display: flex;
    justify-content: space-between;
}

footer .links .div{
    width: 18%;
    height: 100%;
    /* background-color: rgb(42, 110, 110); */
}
footer ul{
    list-style: none;
}
footer .links li{
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 10px;
    font-weight: 600;
    margin: 12px 0;
    color: rgb(136, 136, 136);

}
footer .links a{
    color: inherit;
    text-decoration: none;
}



.end_of_footer li{
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 10px;
    margin: 0px 0px 0px 6px;
    color: rgb(136, 136, 136);
}
.end_of_footer .endlinks::after{
    content: "|";
    margin: 0px 6px;
    
}
.end_of_footer a{
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 10px;
    text-decoration: none;
}
.end_of_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.end_of_footer ul{
    display: flex;

}
