*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
/* ************************************ */
.piano{
    width: 70%;
    height: 70vh;
    background-color: black;
    border-radius: 20px;
    margin: 15vh auto;
    padding: 34px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.header{
    /* background-color: beige; */
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 12px; */
}
.header > *{
    display: flex;
    align-items: center;
    color: rgb(203, 203, 203);
    font-family: sans-serif;
    font-size: 16px;
}
.h2{
    font-size: 30px;
}
/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 10rem;
  }
  
  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #d6d6d6;
    border-radius: 0.5rem;
    height: 0.5rem;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    background-color: #808080;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
/* ************************************ */
/* Toggle Switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #6e6e6e;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #6e6e6e;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/* ************************************ */

.keys{
    /* background-color: aquamarine; */
    width: 100%;
    height: 70%;
    border-radius: 10px;
    position: relative;
}
.whiteKey{
    height: 100%;
    width: 10%;
    border: none;
    cursor: pointer;
    border-right: 1px solid black ;
    background-color: white;
}
.whiteKey:first-child,
.whiteKey:nth-child(4),
.whiteKey:nth-child(8){
    border-radius: 10px 0 0 10px;
}
.whiteKey:nth-child(10),
.whiteKey:nth-child(3),
.whiteKey:nth-child(7){
    border-radius: 0 10px 10px 0;
}

.blackKey{
    height: 70%;
    width: 5%;
    border: none;
    cursor: pointer;
    border-radius: 0 0 10px 10px;
    /* background-color: li; */
    background: linear-gradient(180deg,rgb(76, 76, 76), black);
    position: absolute;
    top: 0;
    transform: translate(-50%, 0);
}
.blackKey1{
    left: 10%;
}
.blackKey2{
    left: 20%;
}
.blackKey3{
    left: 40%;
}
.blackKey4{
    left: 50%;
}
.blackKey5{
    left: 60%;
}
.blackKey6{
    left: 80%;
}
.blackKey7{
    left: 90%;
    /* background: linear-gradient(rgb(135, 135, 135), rgb(137, 137, 137)); */
}

.whiteKey:active{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
}
.blackKey:active{
    background: linear-gradient(180deg,rgb(76, 76, 76), rgb(54, 54, 54));
}