*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

#box{
    width: 10%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}